<Type Name="PipelineGroupJsonArrayMapper" FullName="Azure.Provisioning.Monitor.PipelineGroupJsonArrayMapper">
  <TypeSignature Language="C#" Value="public class PipelineGroupJsonArrayMapper : Azure.Provisioning.Primitives.ProvisionableConstruct" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit PipelineGroupJsonArrayMapper extends Azure.Provisioning.Primitives.ProvisionableConstruct" />
  <TypeSignature Language="DocId" Value="T:Azure.Provisioning.Monitor.PipelineGroupJsonArrayMapper" />
  <TypeSignature Language="VB.NET" Value="Public Class PipelineGroupJsonArrayMapper&#xA;Inherits ProvisionableConstruct" />
  <TypeSignature Language="F#" Value="type PipelineGroupJsonArrayMapper = class&#xA;    inherit ProvisionableConstruct" />
  <AssemblyInfo>
    <AssemblyName>Azure.Provisioning.Monitor</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>Azure.Provisioning.Primitives.ProvisionableConstruct</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>
            A component that allows parsing a value from sourceField as a json array,
            match a key to each parsed value from keys, and output the key-value map
            to destinationField field.
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public PipelineGroupJsonArrayMapper ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Azure.Provisioning.Monitor.PipelineGroupJsonArrayMapper.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Provisioning.Monitor</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary>
            Creates a new PipelineGroupJsonArrayMapper.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DefineProvisionableProperties">
      <MemberSignature Language="C#" Value="protected override void DefineProvisionableProperties ();" />
      <MemberSignature Language="ILAsm" Value=".method familyhidebysig virtual instance void DefineProvisionableProperties() cil managed" />
      <MemberSignature Language="DocId" Value="M:Azure.Provisioning.Monitor.PipelineGroupJsonArrayMapper.DefineProvisionableProperties" />
      <MemberSignature Language="VB.NET" Value="Protected Overrides Sub DefineProvisionableProperties ()" />
      <MemberSignature Language="F#" Value="override this.DefineProvisionableProperties : unit -&gt; unit" Usage="pipelineGroupJsonArrayMapper.DefineProvisionableProperties " />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Provisioning.Monitor</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>
            Define all the provisionable properties of PipelineGroupJsonArrayMapper.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DestinationField">
      <MemberSignature Language="C#" Value="public Azure.Provisioning.Monitor.PipelineGroupJsonMapperDestinationField DestinationField { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Azure.Provisioning.Monitor.PipelineGroupJsonMapperDestinationField DestinationField" />
      <MemberSignature Language="DocId" Value="P:Azure.Provisioning.Monitor.PipelineGroupJsonArrayMapper.DestinationField" />
      <MemberSignature Language="VB.NET" Value="Public Property DestinationField As PipelineGroupJsonMapperDestinationField" />
      <MemberSignature Language="F#" Value="member this.DestinationField : Azure.Provisioning.Monitor.PipelineGroupJsonMapperDestinationField with get, set" Usage="Azure.Provisioning.Monitor.PipelineGroupJsonArrayMapper.DestinationField" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Provisioning.Monitor</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Azure.Provisioning.Monitor.PipelineGroupJsonMapperDestinationField</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Define a destination field to which the parsed output will be written.
            The output is a map, it's keys is the given keys array and the
            matching values are the parsed json array elements.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="FieldName">
      <MemberSignature Language="C#" Value="public Azure.Provisioning.BicepValue&lt;string&gt; FieldName { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Azure.Provisioning.BicepValue`1&lt;string&gt; FieldName" />
      <MemberSignature Language="DocId" Value="P:Azure.Provisioning.Monitor.PipelineGroupJsonArrayMapper.FieldName" />
      <MemberSignature Language="VB.NET" Value="Public Property FieldName As BicepValue(Of String)" />
      <MemberSignature Language="F#" Value="member this.FieldName : Azure.Provisioning.BicepValue&lt;string&gt; with get, set" Usage="Azure.Provisioning.Monitor.PipelineGroupJsonArrayMapper.FieldName" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Provisioning.Monitor</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Azure.Provisioning.BicepValue&lt;System.String&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Define a source field name from which the json array mapper will read
            the json array. Leaving this empty, means reading the body of the
            message itself.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Keys">
      <MemberSignature Language="C#" Value="public Azure.Provisioning.BicepList&lt;string&gt; Keys { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Azure.Provisioning.BicepList`1&lt;string&gt; Keys" />
      <MemberSignature Language="DocId" Value="P:Azure.Provisioning.Monitor.PipelineGroupJsonArrayMapper.Keys" />
      <MemberSignature Language="VB.NET" Value="Public Property Keys As BicepList(Of String)" />
      <MemberSignature Language="F#" Value="member this.Keys : Azure.Provisioning.BicepList&lt;string&gt; with get, set" Usage="Azure.Provisioning.Monitor.PipelineGroupJsonArrayMapper.Keys" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Provisioning.Monitor</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Azure.Provisioning.BicepList&lt;System.String&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Define the names of the keys in the resulting map. The input json array
            elements are mapped in order, one for every key.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
