<Type Name="Settings" FullName="Azure.Connectors.Sdk.MailChimp.Models.Settings">
  <TypeSignature Language="C#" Value="public class Settings" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit Settings extends System.Object" />
  <TypeSignature Language="DocId" Value="T:Azure.Connectors.Sdk.MailChimp.Models.Settings" />
  <TypeSignature Language="VB.NET" Value="Public Class Settings" />
  <TypeSignature Language="F#" Value="type Settings = class" />
  <AssemblyInfo>
    <AssemblyName>Azure.Connectors.Sdk</AssemblyName>
    <AssemblyVersion>0.13.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>
            settings
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Settings ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Azure.Connectors.Sdk.MailChimp.Models.Settings.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Connectors.Sdk</AssemblyName>
        <AssemblyVersion>0.13.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Authentication">
      <MemberSignature Language="C#" Value="public bool? Authentication { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;bool&gt; Authentication" />
      <MemberSignature Language="DocId" Value="P:Azure.Connectors.Sdk.MailChimp.Models.Settings.Authentication" />
      <MemberSignature Language="VB.NET" Value="Public Property Authentication As Nullable(Of Boolean)" />
      <MemberSignature Language="F#" Value="member this.Authentication : Nullable&lt;bool&gt; with get, set" Usage="Azure.Connectors.Sdk.MailChimp.Models.Settings.Authentication" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Connectors.Sdk</AssemblyName>
        <AssemblyVersion>0.13.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[System.Text.Json.Serialization.JsonPropertyName("authenticate")]</AttributeName>
          <AttributeName Language="F#">[&lt;System.Text.Json.Serialization.JsonPropertyName("authenticate")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.Boolean&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Whether MailChimp authenticated the campaign. Defaults to true</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="AutoFooter">
      <MemberSignature Language="C#" Value="public bool? AutoFooter { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;bool&gt; AutoFooter" />
      <MemberSignature Language="DocId" Value="P:Azure.Connectors.Sdk.MailChimp.Models.Settings.AutoFooter" />
      <MemberSignature Language="VB.NET" Value="Public Property AutoFooter As Nullable(Of Boolean)" />
      <MemberSignature Language="F#" Value="member this.AutoFooter : Nullable&lt;bool&gt; with get, set" Usage="Azure.Connectors.Sdk.MailChimp.Models.Settings.AutoFooter" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Connectors.Sdk</AssemblyName>
        <AssemblyVersion>0.13.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[System.Text.Json.Serialization.JsonPropertyName("auto_footer")]</AttributeName>
          <AttributeName Language="F#">[&lt;System.Text.Json.Serialization.JsonPropertyName("auto_footer")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.Boolean&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Automatically append MailChimp's default footer to the campaign</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="AutoPostToFacebook">
      <MemberSignature Language="C#" Value="public System.Collections.Generic.List&lt;int?&gt; AutoPostToFacebook { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class System.Collections.Generic.List`1&lt;valuetype System.Nullable`1&lt;int32&gt;&gt; AutoPostToFacebook" />
      <MemberSignature Language="DocId" Value="P:Azure.Connectors.Sdk.MailChimp.Models.Settings.AutoPostToFacebook" />
      <MemberSignature Language="VB.NET" Value="Public Property AutoPostToFacebook As List(Of Nullable(Of Integer))" />
      <MemberSignature Language="F#" Value="member this.AutoPostToFacebook : System.Collections.Generic.List&lt;Nullable&lt;int&gt;&gt; with get, set" Usage="Azure.Connectors.Sdk.MailChimp.Models.Settings.AutoPostToFacebook" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Connectors.Sdk</AssemblyName>
        <AssemblyVersion>0.13.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[System.Text.Json.Serialization.JsonPropertyName("auto_fb_post")]</AttributeName>
          <AttributeName Language="F#">[&lt;System.Text.Json.Serialization.JsonPropertyName("auto_fb_post")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Collections.Generic.List&lt;System.Nullable&lt;System.Int32&gt;&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>An array of Facebook page ids to auto-post to</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="AutoTweet">
      <MemberSignature Language="C#" Value="public bool? AutoTweet { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;bool&gt; AutoTweet" />
      <MemberSignature Language="DocId" Value="P:Azure.Connectors.Sdk.MailChimp.Models.Settings.AutoTweet" />
      <MemberSignature Language="VB.NET" Value="Public Property AutoTweet As Nullable(Of Boolean)" />
      <MemberSignature Language="F#" Value="member this.AutoTweet : Nullable&lt;bool&gt; with get, set" Usage="Azure.Connectors.Sdk.MailChimp.Models.Settings.AutoTweet" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Connectors.Sdk</AssemblyName>
        <AssemblyVersion>0.13.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[System.Text.Json.Serialization.JsonPropertyName("auto_tweet")]</AttributeName>
          <AttributeName Language="F#">[&lt;System.Text.Json.Serialization.JsonPropertyName("auto_tweet")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.Boolean&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Automatically tweet a link to the campaign archive page when the campaign is sent</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="CampaignSubjectLine">
      <MemberSignature Language="C#" Value="public string CampaignSubjectLine { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string CampaignSubjectLine" />
      <MemberSignature Language="DocId" Value="P:Azure.Connectors.Sdk.MailChimp.Models.Settings.CampaignSubjectLine" />
      <MemberSignature Language="VB.NET" Value="Public Property CampaignSubjectLine As String" />
      <MemberSignature Language="F#" Value="member this.CampaignSubjectLine : string with get, set" Usage="Azure.Connectors.Sdk.MailChimp.Models.Settings.CampaignSubjectLine" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Connectors.Sdk</AssemblyName>
        <AssemblyVersion>0.13.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[System.Text.Json.Serialization.JsonPropertyName("subject_line")]</AttributeName>
          <AttributeName Language="F#">[&lt;System.Text.Json.Serialization.JsonPropertyName("subject_line")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>The subject line for the campaign</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Conversation">
      <MemberSignature Language="C#" Value="public bool? Conversation { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;bool&gt; Conversation" />
      <MemberSignature Language="DocId" Value="P:Azure.Connectors.Sdk.MailChimp.Models.Settings.Conversation" />
      <MemberSignature Language="VB.NET" Value="Public Property Conversation As Nullable(Of Boolean)" />
      <MemberSignature Language="F#" Value="member this.Conversation : Nullable&lt;bool&gt; with get, set" Usage="Azure.Connectors.Sdk.MailChimp.Models.Settings.Conversation" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Connectors.Sdk</AssemblyName>
        <AssemblyVersion>0.13.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[System.Text.Json.Serialization.JsonPropertyName("use_conversation")]</AttributeName>
          <AttributeName Language="F#">[&lt;System.Text.Json.Serialization.JsonPropertyName("use_conversation")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.Boolean&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Use MailChimp Conversation feature to manage out-of-office replies</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="FacebookComments">
      <MemberSignature Language="C#" Value="public bool? FacebookComments { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;bool&gt; FacebookComments" />
      <MemberSignature Language="DocId" Value="P:Azure.Connectors.Sdk.MailChimp.Models.Settings.FacebookComments" />
      <MemberSignature Language="VB.NET" Value="Public Property FacebookComments As Nullable(Of Boolean)" />
      <MemberSignature Language="F#" Value="member this.FacebookComments : Nullable&lt;bool&gt; with get, set" Usage="Azure.Connectors.Sdk.MailChimp.Models.Settings.FacebookComments" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Connectors.Sdk</AssemblyName>
        <AssemblyVersion>0.13.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[System.Text.Json.Serialization.JsonPropertyName("fb_comments")]</AttributeName>
          <AttributeName Language="F#">[&lt;System.Text.Json.Serialization.JsonPropertyName("fb_comments")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.Boolean&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Allows Facebook comments on the campaign (also force-enables the Campaign Archive toolbar). Defaults to true</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="FolderId">
      <MemberSignature Language="C#" Value="public string FolderId { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string FolderId" />
      <MemberSignature Language="DocId" Value="P:Azure.Connectors.Sdk.MailChimp.Models.Settings.FolderId" />
      <MemberSignature Language="VB.NET" Value="Public Property FolderId As String" />
      <MemberSignature Language="F#" Value="member this.FolderId : string with get, set" Usage="Azure.Connectors.Sdk.MailChimp.Models.Settings.FolderId" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Connectors.Sdk</AssemblyName>
        <AssemblyVersion>0.13.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[System.Text.Json.Serialization.JsonPropertyName("folder_id")]</AttributeName>
          <AttributeName Language="F#">[&lt;System.Text.Json.Serialization.JsonPropertyName("folder_id")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>If the campaign is listed in a folder, the id for that folder</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="FromName">
      <MemberSignature Language="C#" Value="public string FromName { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string FromName" />
      <MemberSignature Language="DocId" Value="P:Azure.Connectors.Sdk.MailChimp.Models.Settings.FromName" />
      <MemberSignature Language="VB.NET" Value="Public Property FromName As String" />
      <MemberSignature Language="F#" Value="member this.FromName : string with get, set" Usage="Azure.Connectors.Sdk.MailChimp.Models.Settings.FromName" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Connectors.Sdk</AssemblyName>
        <AssemblyVersion>0.13.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[System.Text.Json.Serialization.JsonPropertyName("from_name")]</AttributeName>
          <AttributeName Language="F#">[&lt;System.Text.Json.Serialization.JsonPropertyName("from_name")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>The 'from' name on the campaign (not an email address)</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="InlineCSS">
      <MemberSignature Language="C#" Value="public bool? InlineCSS { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;bool&gt; InlineCSS" />
      <MemberSignature Language="DocId" Value="P:Azure.Connectors.Sdk.MailChimp.Models.Settings.InlineCSS" />
      <MemberSignature Language="VB.NET" Value="Public Property InlineCSS As Nullable(Of Boolean)" />
      <MemberSignature Language="F#" Value="member this.InlineCSS : Nullable&lt;bool&gt; with get, set" Usage="Azure.Connectors.Sdk.MailChimp.Models.Settings.InlineCSS" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Connectors.Sdk</AssemblyName>
        <AssemblyVersion>0.13.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[System.Text.Json.Serialization.JsonPropertyName("inline_css")]</AttributeName>
          <AttributeName Language="F#">[&lt;System.Text.Json.Serialization.JsonPropertyName("inline_css")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.Boolean&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Automatically inline the CSS included with the campaign content</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ReplyToAddress">
      <MemberSignature Language="C#" Value="public string ReplyToAddress { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string ReplyToAddress" />
      <MemberSignature Language="DocId" Value="P:Azure.Connectors.Sdk.MailChimp.Models.Settings.ReplyToAddress" />
      <MemberSignature Language="VB.NET" Value="Public Property ReplyToAddress As String" />
      <MemberSignature Language="F#" Value="member this.ReplyToAddress : string with get, set" Usage="Azure.Connectors.Sdk.MailChimp.Models.Settings.ReplyToAddress" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Connectors.Sdk</AssemblyName>
        <AssemblyVersion>0.13.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[System.Text.Json.Serialization.JsonPropertyName("reply_to")]</AttributeName>
          <AttributeName Language="F#">[&lt;System.Text.Json.Serialization.JsonPropertyName("reply_to")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>The reply-to email address for the campaign</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Title">
      <MemberSignature Language="C#" Value="public string Title { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string Title" />
      <MemberSignature Language="DocId" Value="P:Azure.Connectors.Sdk.MailChimp.Models.Settings.Title" />
      <MemberSignature Language="VB.NET" Value="Public Property Title As String" />
      <MemberSignature Language="F#" Value="member this.Title : string with get, set" Usage="Azure.Connectors.Sdk.MailChimp.Models.Settings.Title" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Connectors.Sdk</AssemblyName>
        <AssemblyVersion>0.13.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[System.Text.Json.Serialization.JsonPropertyName("title")]</AttributeName>
          <AttributeName Language="F#">[&lt;System.Text.Json.Serialization.JsonPropertyName("title")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>The title of the campaign</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ToName">
      <MemberSignature Language="C#" Value="public string ToName { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string ToName" />
      <MemberSignature Language="DocId" Value="P:Azure.Connectors.Sdk.MailChimp.Models.Settings.ToName" />
      <MemberSignature Language="VB.NET" Value="Public Property ToName As String" />
      <MemberSignature Language="F#" Value="member this.ToName : string with get, set" Usage="Azure.Connectors.Sdk.MailChimp.Models.Settings.ToName" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Connectors.Sdk</AssemblyName>
        <AssemblyVersion>0.13.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[System.Text.Json.Serialization.JsonPropertyName("to_name")]</AttributeName>
          <AttributeName Language="F#">[&lt;System.Text.Json.Serialization.JsonPropertyName("to_name")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>The campaign's custom 'To' name. Typically the first name merge field</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
