<Type Name="Server" FullName="Azure.Connectors.Sdk.Sql.Models.Server">
  <TypeSignature Language="C#" Value="public class Server" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit Server extends System.Object" />
  <TypeSignature Language="DocId" Value="T:Azure.Connectors.Sdk.Sql.Models.Server" />
  <TypeSignature Language="VB.NET" Value="Public Class Server" />
  <TypeSignature Language="F#" Value="type Server = class" />
  <AssemblyInfo>
    <AssemblyName>Azure.Connectors.Sdk</AssemblyName>
    <AssemblyVersion>0.13.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>
            Item in List of datasets
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Server ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Azure.Connectors.Sdk.Sql.Models.Server.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Connectors.Sdk</AssemblyName>
        <AssemblyVersion>0.13.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Databases">
      <MemberSignature Language="C#" Value="public System.Collections.Generic.List&lt;Azure.Connectors.Sdk.Sql.Models.Database&gt; Databases { get; init; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class System.Collections.Generic.List`1&lt;class Azure.Connectors.Sdk.Sql.Models.Database&gt; Databases" />
      <MemberSignature Language="DocId" Value="P:Azure.Connectors.Sdk.Sql.Models.Server.Databases" />
      <MemberSignature Language="VB.NET" Value="Public Property Databases As List(Of Database)" />
      <MemberSignature Language="F#" Value="member this.Databases : System.Collections.Generic.List&lt;Azure.Connectors.Sdk.Sql.Models.Database&gt; with get, set" Usage="Azure.Connectors.Sdk.Sql.Models.Server.Databases" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Connectors.Sdk</AssemblyName>
        <AssemblyVersion>0.13.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[System.Text.Json.Serialization.JsonInclude]</AttributeName>
          <AttributeName Language="F#">[&lt;System.Text.Json.Serialization.JsonInclude&gt;]</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName Language="C#">[System.Text.Json.Serialization.JsonPropertyName("databases")]</AttributeName>
          <AttributeName Language="F#">[&lt;System.Text.Json.Serialization.JsonPropertyName("databases")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Collections.Generic.List&lt;Azure.Connectors.Sdk.Sql.Models.Database&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Table items</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DisplayName">
      <MemberSignature Language="C#" Value="public string DisplayName { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string DisplayName" />
      <MemberSignature Language="DocId" Value="P:Azure.Connectors.Sdk.Sql.Models.Server.DisplayName" />
      <MemberSignature Language="VB.NET" Value="Public Property DisplayName As String" />
      <MemberSignature Language="F#" Value="member this.DisplayName : string with get, set" Usage="Azure.Connectors.Sdk.Sql.Models.Server.DisplayName" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Connectors.Sdk</AssemblyName>
        <AssemblyVersion>0.13.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[System.Text.Json.Serialization.JsonPropertyName("DisplayName")]</AttributeName>
          <AttributeName Language="F#">[&lt;System.Text.Json.Serialization.JsonPropertyName("DisplayName")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>The display name of the server.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DynamicProperties">
      <MemberSignature Language="C#" Value="public System.Text.Json.JsonElement? DynamicProperties { get; init; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;valuetype System.Text.Json.JsonElement&gt; DynamicProperties" />
      <MemberSignature Language="DocId" Value="P:Azure.Connectors.Sdk.Sql.Models.Server.DynamicProperties" />
      <MemberSignature Language="VB.NET" Value="Public Property DynamicProperties As Nullable(Of JsonElement)" />
      <MemberSignature Language="F#" Value="member this.DynamicProperties : Nullable&lt;System.Text.Json.JsonElement&gt; with get, set" Usage="Azure.Connectors.Sdk.Sql.Models.Server.DynamicProperties" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Connectors.Sdk</AssemblyName>
        <AssemblyVersion>0.13.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[System.Text.Json.Serialization.JsonInclude]</AttributeName>
          <AttributeName Language="F#">[&lt;System.Text.Json.Serialization.JsonInclude&gt;]</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName Language="C#">[System.Text.Json.Serialization.JsonPropertyName("DynamicProperties")]</AttributeName>
          <AttributeName Language="F#">[&lt;System.Text.Json.Serialization.JsonPropertyName("DynamicProperties")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.Text.Json.JsonElement&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Additional server properties provided by the connector to the clients.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Name">
      <MemberSignature Language="C#" Value="public string Name { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string Name" />
      <MemberSignature Language="DocId" Value="P:Azure.Connectors.Sdk.Sql.Models.Server.Name" />
      <MemberSignature Language="VB.NET" Value="Public Property Name As String" />
      <MemberSignature Language="F#" Value="member this.Name : string with get, set" Usage="Azure.Connectors.Sdk.Sql.Models.Server.Name" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Connectors.Sdk</AssemblyName>
        <AssemblyVersion>0.13.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[System.Text.Json.Serialization.JsonPropertyName("Name")]</AttributeName>
          <AttributeName Language="F#">[&lt;System.Text.Json.Serialization.JsonPropertyName("Name")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>The name of the server. The name is used at runtime.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
